<main>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./assets/Slide_1.jpg"
          class="d-block adjust-size"
          alt="Slide 1"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/Slide_2.jpg" class="d-block adjust-size" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/Slide_3.jpg" class="d-block adjust-size" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="margin-top-4 container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="./assets/Ashok.jpg" />
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->

        <h2>Ashok</h2>
        <p>
          thoroughly enjoyed his Ladakh trip, captivated by the breathtaking
          landscapes and mesmerizing cultural experiences, making it an
          unforgettable adventure. He highly recommends it to fellow travelers
          seeking an unparalleled combination of natural beauty and rich
          heritage.
        </p>
        <p><a class="btn btn-secondary" href="#">View more &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="./assets/Reena.jpg" />
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->

        <h2>Reena</h2>
        <p>
          found the Kotagiri bike trip exhilarating, with its scenic routes and
          cool climate adding to the thrill of the journey. The picturesque
          landscapes and quaint charm of Kotagiri made it a perfect escapade for
          biking enthusiasts.
        </p>
        <p><a class="btn btn-secondary" href="#">View more &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="./assets/Samit.jpg" />
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->

        <h2>Samit Patel</h2>
        <p>
          was deeply moved by his visit to the Thirupathi temple, describing the
          spiritual atmosphere and divine energy as profoundly uplifting. The
          sacred rituals and serene surroundings made his pilgrimage to
          Thirupathi a spiritually enriching and memorable experience.
        </p>
        <p><a class="btn btn-secondary" href="#">View more &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Uncharted Harmony:<span class="text-muted"
            >A Spontaneous Sojourn with Strangers in Munnar</span
          >
        </h2>
        <p class="lead">
          Embarking on a spontaneous journey to Munnar, a group of strangers
          found themselves immersed in nature's enchantment. The lush green tea
          plantations unfolded like a vibrant carpet, while mist-kissed
          mountains loomed majestically in the background. Exploring the
          aromatic spice gardens and savoring local delicacies, bonds formed as
          laughter echoed through the valleys. The serenity of Attukal
          Waterfalls and the echo point left them in awe, creating memories
          etched in their hearts. As the sun painted the sky in hues of orange
          and pink, the strangers departed with newfound friendships, grateful
          for the unexpected magic that Munnar had woven into their lives.
        </p>
      </div>
      <div class="col-md-5">
        <img src="./assets/munnar.jpg" class="res-500" />
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Tech Park Escapade:
          <span class="text-muted">Journey to Serenity in Sakleshpura</span>
        </h2>
        <p class="lead">
          A group of tech park colleagues embarked on an unplanned escapade to
          Sakleshpura, seeking respite from their hectic schedules. Amidst the
          rolling hills and verdant coffee plantations, camaraderie blossomed.
          Trekking through the Western Ghats and savoring local delicacies, they
          discovered a tranquil haven. Campfires under starlit skies and
          riverbank reflections etched unforgettable moments. As they bid adieu
          to Sakleshpura's tranquility, the tech-savvy group left with recharged
          spirits and strengthened bonds, the trip becoming a cherished chapter
          in their shared adventure.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="./assets/saklsh.jpg" class="res-400" />
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Spontaneous Highs:<span class="text-muted"
            >Ladakh Calling for Two Girls and Two Guys</span
          >
        </h2>
        <p class="lead">
          AWith wanderlust fueling their spirits, two girls and two guys
          impulsively embarked on a Ladakh adventure. The rugged landscapes and
          majestic mountains welcomed them as they navigated winding roads on
          rented bikes. Camping under the vast starry skies, they forged bonds
          over bonfires and shared stories. The magnetic pull of Pangong Lake
          and the ancient monasteries left them in awe. Amidst laughter and
          awe-inspiring vistas, Ladakh cast its spell on this impromptu quartet,
          creating memories that would forever be etched in their hearts as a
          testament to the magic of spontaneous journeys.
        </p>
      </div>
      <div class="col-md-5">
        <img src="./assets/ladakh.jpg" class="res-500" />
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>
    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p>
      &copy; 2017–2021 Trip Planner, Inc. &middot; <a>Privacy</a> &middot;
      <a>Terms & Conditions</a>
    </p>
  </footer>
</main>
